<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
   
    </head>
<body style="background:linear-gradient(#b92b27, #1565c0);">
    <div class="container">
      <h1 style="text-align: center; font-size:40px; text-transform:capitalize; color:white"><%=email%> Welcome To the Online Video Tutorial </h1>
      <h4 class="text-center">Html Video</h4>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BsDoLVMnmZs"></iframe>
      </div>
      
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DmRjKZJ4c7g "allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <h4 class="text-center">Css Video</h4>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/u5-K_ua9sOw"></iframe>
      </div>
      
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QMnv3QrjZoU "allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <h4 class="text-center">Java Script Video</h4>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hKB-YGF14SY"></iframe>
      </div>
      
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/W6NZfCO5SIk "allowfullscreen></iframe>
      </div>
    </div>
    <div class="container">
      <h4 class="text-center">Bootstrap Video</h4>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/008dZPBZtLQ"></iframe>
      </div>
      
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Qb8DLdSYBAo "allowfullscreen></iframe>
      </div>
    </div>


</body>
</html>